body{
  margin:0px;
}

html {
  font-family: 'Montserrat';
  font-size: 2em;
  color: white;
}

h1 {
  text-align: center;
  margin: 10px 0px 10px 0px;
  text-shadow: 0px 0px 5px black,
               1px 1px 1px black;
}

h2{
  text-align: center;
}

p{
  margin:20px;
  text-align: justify;
}

.menu {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: repeat(2, 1fr);
  position: fixed;
  width: 80%;
  top: 30px;
  left: 30px;
}

.menu-box{
  grid-area: 1 / 2 / 3 / 3;
  visibility: hidden;
  opacity: 0;
  width:100%;
  transition:visibility 0.3s linear,opacity 0.3s linear;
  position: relative;
}

.menu-box-side{
  grid-area: 1 / 1 / 3 / 2;
  visibility: hidden;
  opacity: 0;
  transition:visibility 0.3s linear,opacity 0.3s linear;
  margin-top: 50px;
  background: linear-gradient(90deg, rgba(43,43,43,0.98) 50%, rgba(0,0,0,0.9) 100%);
  width: 52px;
}

.menu-title{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: rgba(43, 43, 43, 98%);
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bolder;
  border: 1px solid;
  border-image-source: linear-gradient(-90deg, rgba(255,255,255,1) 0%, rgba(43,43,43,1) 100%);
  border-image-slice: 1;
}

.menu-elements{
  width:100%;
  display: flex;
  flex-flow: column;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 90%);
}

.menu-elements img{
  align-self: center;
  height: 78px;
  width: 100%;
  object-fit: contain;
  border: 1px solid black;
  border-image-source: linear-gradient(-90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
  border-image-slice: 1;
}

.menu-elements hr{
  opacity: 0.8;
  width: 30px;
}

.menu-elements button{
  width:100%;
  padding: 20px;
  text-align: center;
  color: white;
  border: 2px solid;
  border-image-source: linear-gradient(-90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
  border-image-slice: 1;
  background: black;
  font-size: 1.5em;
}

#menu-toggle{
  display: none;
}

#menu-toggle:checked ~ .menu-box{
  opacity: 1;
  visibility:visible;
}

#menu-toggle:checked ~ .menu-box-side{
  opacity: 1;
  visibility:visible;
}

#expand-menu-btn{
  display: flex;
  flex-flow: column;
  grid-area: 1 / 1 / 2 / 2;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  width: 52px;
  height: 52px;
  background-color: #2b2b2b;
}

#expand-menu-btn hr{
  margin: 4px 8px 4px 8px;
  opacity: 0.8;
  width: 20px;
  border: 2px solid white;
}

.box{
  border-bottom: 20px solid;
  border-image-source: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 28%, rgba(203,122,22,1) 66%, rgba(163,90,0,1) 100%);
  border-image-slice: 1;
}

.container {
  display:flex;
  flex-flow: column;
}

.header{
  height:600px;
  background-image: url("../img/pictures/head_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#hd-title-logo{
  height:70%;
  margin: 5%;
}

#hd-yout-logo{
  height: 15%;
  margin-right: 5%;
  float: right;
}

.intro {
  color: black;
  background-position: left;
  background-repeat: no-repeat;
}

.intro-img {
  width: 100%;
  display: flex;
}

.intro-img img{
  width:100%;
}

.intro-text {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  float: right;
  background-color: white;
  width: 100%;
}

.content-newest-imgbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height:600px;
  width:100%;
  background: url("../img/pictures/sardinia.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content-newest-title{
  display: flex;
  justify-content: center;
}

.content-newest-logo{
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/maps/map_of_Sardinia_Italy.png")  no-repeat center/contain;
  margin-bottom: 10px;
}

.content-newest-textbox{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  background: white;
  color: black;
}

.content-newest-textbox footer p{
  text-align: right;
}

.content h1,
.content h2,
.content h3{
  margin: 5px 0px 0px 0px;
  text-shadow: 0px 0px 5px black,
               1px 1px 1px black;
}

.content-box{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 600px;
}

.content-box a{
  text-decoration: none;
  box-shadow: 0px 0px 3px black;
  text-shadow: 0px 0px 2px black,
               1px 1px 1px black;
  border: 1px solid white;
  padding: 20px 50px 20px 50px;
  color: white;
}

.content-title-img{
  display:flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width:80%;
  height:50%;
}

#art1 {
  background: url("../img/pictures/bosnia_2019.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#art1-title-bg{
  background: url("../img/maps/map_of_bosnia.png") no-repeat center/contain;
}

#art2 {
  background: url("../img/pictures/hun_2019_may.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#art2-title-bg{
  background: url("../img/maps/map_of_hungary.png") no-repeat center/contain;
}

#art3 {
  background: url("../img/pictures/switzerland_2019_feb.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#art3-title-bg{
  background: url("../img/maps/map-of-switzerland2.png") no-repeat center/contain;
}

#art4 {
  background: url("../img/pictures/switzerland_2018-19_dec-jan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#art4-title-bg{
  background: url("../img/maps/map-of-switzerland2.png") no-repeat center/contain;
}

#art5 {
  background: url("../img/pictures/joyride_switzeland_2019_dec.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#art5-title-bg{
  background: url("../img/maps/map-of-switzerland2.png") no-repeat center/contain;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 28%, rgba(203,122,22,1) 66%, rgba(163,90,0,1) 100%);
  height: 40px;
  background-color: black;
}

.footer span{
    font-size: 0.5em;
    font-weight: bolder;
}

.footer-social{
  display: flex;
  justify-content: space-between;
  height: 80%;
}

.footer-social img{
  margin-right: 5px;
  height: 100%;
}

@media(min-width:1024px) {
  html{
    font-size: 1.5em;
  }
  .menu{
    width: 40%;
  }
  .intro {
    display: flex;
  }
  .content-newest{
    display: flex;
  }
  .content{
    display: flex;
  }
}
