html {
  font-size: 1em;
}

p{
  color:red;
  margin:20px;
  text-align: justify;
}

.header{
  height:600px;
  display: flex;
  grid-area: hd;
  background-image: url("../img/pictures/head_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hd-title-logo{
  width: 80%;
  margin: 100px;
}

.hd-title-logo img{
  height: 100%;
}

.hd-youtube-logo{
  width:20%;
}

.hd-youtube-logo img{
  width: 70%;
}

.intro {
  color: black;
  background-position: left;
  background-repeat: no-repeat;
  grid-area: int;
}

.intro-img {
  width: 100%;
  display: flex;
}

.intro-img img{
  width:100%;
}

.intro-text {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  float: right;
  background-color: white;
  width: 100%;
}


.content-newest{
  grid-area: cont-n;
}



.content-newest-imgbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height:600px;
  background: url("../img/pictures/sardinia.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.content-newest-title{
  display: flex;
  justify-content: center;
}

.content-newest-logo{
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/maps/map_of_Sardinia_Italy.png")  no-repeat center/contain;
  margin-bottom: 10px;
}

.content-newest-textbox{
  background: white;
  color: black;
}

.content-newest-textbox footer p{
  text-align: right;
}

.content{
  grid-area: cont;
}

.content h1,
.content h2,
.content h3{
  margin: 5px 0px 0px 0px;
  text-shadow: 0px 0px 5px black,
               1px 1px 1px black;
}

.content-box{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 600px;
}

.content-box a{
  text-decoration: none;
  box-shadow: 0px 0px 3px black;
  text-shadow: 0px 0px 2px black,
               1px 1px 1px black;
  border: 1px solid white;
  padding: 20px 50px 20px 50px;
  color: white;
}

.content-title-img{
  display:flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width:80%;
  height:50%;
}

#art1 {
  background: url("../img/pictures/bosnia_2019.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#art1-title-bg{
  background: url("../img/maps/map_of_bosnia.png") no-repeat center/contain;
}

#art2 {
  background: url("../img/pictures/hun_2019_may.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#art2-title-bg{
  background: url("../img/maps/map_of_hungary.png") no-repeat center/contain;
}

#art3 {
  background: url("../img/pictures/switzerland_2019_feb.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#art3-title-bg{
  background: url("../img/maps/map-of-switzerland2.png") no-repeat center/contain;
}

#art4 {
  background: url("../img/pictures/switzerland_2018-19_dec-jan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#art4-title-bg{
  background: url("../img/maps/map-of-switzerland2.png") no-repeat center/contain;
}

#art5 {
  background: url("../img/pictures/joyride_switzeland_2019_dec.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#art5-title-bg{
  background: url("../img/maps/map-of-switzerland2.png") no-repeat center/contain;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 28%, rgba(203,122,22,1) 66%, rgba(163,90,0,1) 100%);
  height: 40px;
  grid-area: ft;
  background-color: black;
}

.footer span{
    font-size: 0.5em;
    font-weight: bolder;
}

.footer-social{
  display: flex;
  justify-content: space-between;
  height: 80%;
}

.footer-social img{
  margin-right: 5px;
  height: 100%;
}
